.mail {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    border-bottom: 1px solid whitesmoke;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .mail {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 1rem;
    }
}

.mail svg {
    font-size: 1.2rem;
    color: #d0d1d8;
}

.mail:hover {
    box-shadow: inset 1px 0 0 #dadce0,
        inset -1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15)
}

.mail__sender {
    display: flex;
    align-items: center;
    flex: 0 0 250px;
}

@media screen and (max-width:768px) {
    .mail__sender {
        flex: 1;
        width: 100%;
    }
}

.mail:hover .mail__sender>svg {
    color: #262526;
}

.mail__sender>*:first-child+svg {
    margin: 0 1rem;
}

.mail__sender>p {
    color: #262526;
    font-weight: bold;
}

.mail__body {
    flex: 0 1 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px) {
    .mail__body {
        flex: 1;
        width: 100%;
    }
}

.mail__body .mail__body__info {
    text-decoration: none;
    color: inherit;
    width: 100px;
    flex: 0 1 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:768px) {
    .mail__body .mail__body__info {
        flex: 1;
    }
}

.mail__body .mail__body__info p::after {
    content: "...";
    display: inline;
}

.mail__body .mail__body__info .mail__subject {
    color: #262526;
    font-weight: bold;
}

.mail__body__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 20%;
    display: none;
}

@media screen and (max-width: 768px) {
    .mail__body__actions {
        display: flex;
        align-items: center;
        flex: 0 1 50%;
        display: none;
        position: absolute;
        top: 0.3rem;
        right: 1rem;
        z-index: 999;
        background-color: #fff;
        height: 80%;
    }
}

.mail:hover .mail__body__actions {
    display: flex;
}

.mail__body__actions .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 12px;
    margin: 0.7rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail__body__actions .icon svg {
    font-size: 1.15rem;
    color: #5f6368;
}

.mail__body__actions .icon:hover {
    background-color: #e8eaed;
}

.mail__body__actions .icon>span {
    position: absolute;
    width: 90px;
    top: 100%;
    font-size: 0.8rem;
    padding: 0.2rem 0;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #555;
    z-index: 9;
    color: #ffffff;
    opacity: 0;
    transition: 0.5s;
}

.mail__body__actions .icon:last-child>span {
    margin-left: -30px;
}

.mail__body__actions .icon:hover span {
    opacity: 1;
}

.date {
    font-size: 0.7rem;
    font-weight: bold;
    flex: 0 1 20%;
    text-align: right;
}

.mail:hover .date {
    display: none;
}